.inputWrapper {
  position: relative;
}

.inputWrapper > .label {
  user-select: none;
  display: flex;
  align-items: center;
  height: 20px;

  position: absolute;
  top: calc((var(--inputHeight) / 2) - (var(--labelHeight) / 2));
  z-index: 1;
  color: var(--darkGray);
  transition: font-size 0.17s, top 0.12s ease-in-out, color 0.15s ease-in-out;
  left: var(--inputLeftPadding);
}

.inputWrapper > input,
.inputWrapper > textarea {
  width: 100%;
  min-height: calc(var(--inputHeight) - 2px);
  height: 100%;
  padding: 15px 0 0 var(--inputLeftPadding);
  border: none;
  background-color: var(--lightGray);
}

.inputWrapper > input[type="date"] {
  /* // For mobile safari ------------ */
  min-width: 100%;
  appearance: textfield;
  -webkit-appearance: textfield;
  /* // ------------------------------ */
}

.inputWrapper > textarea {
  /* This is necessary to override the native inline styles from resizing the textarea */
  width: 100% !important;
  min-height: var(--inputHeight);
  height: unset;
  padding-top: 24px;
}

.inputWrapper.shrink > label {
  top: calc((var(--inputHeight) / 3.5) - (var(--labelHeight) / 2));
  font-size: 1.2rem;
}

.inputWrapper.showBorder > input,
.inputWrapper.showBorder > textarea {
  border: 1px solid var(--darkGray);
}

.inputWrapper.isDisabled > input,
.inputWrapper.isDisabled > textarea {
  color: var(--darkGray);
}

.inputWrapper:not(.isDisabled) > .label {
  cursor: text;
  pointer-events: none;
}

.inputWrapper:not(.isDisabled):hover > .label {
  color: var(--lightBlack);
}

.inputWrapper > input:not(:placeholder-shown) + label,
.inputWrapper > textarea:not(:placeholder-shown) + label {
  top: calc((var(--inputHeight) / 3.5) - (var(--labelHeight) / 2));
  font-size: 1.2rem;
}

.inputWrapper:focus-within > .label {
  top: calc((var(--inputHeight) / 3.5) - (var(--labelHeight) / 2));
  font-size: 1.2rem;
  color: var(--lightBlack);
}

.inputWrapper.error > .label {
  color: var(--errorColor) !important;
}

.inputWrapper.error > input,
.inputWrapper.error > textarea {
  border: 1px solid var(--errorColor);
}

.inputWrapper .remainingChars {
  position: absolute;
  right: 9px;
  bottom: 6px;
  padding: 0 6px;
  background-color: var(--lightGray);
}

/* Clears the 'x' in the `type="search"` inputs from Internet Explorer */
.inputWrapper > input[type="search"]::-ms-clear,
.inputWrapper > input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Clears the 'x' in the `type="search"` inputs from Chrome */
.inputWrapper > input[type="search"]::-webkit-search-decoration,
.inputWrapper > input[type="search"]::-webkit-search-cancel-button,
.inputWrapper > input[type="search"]::-webkit-search-results-button,
.inputWrapper > input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
