/* $padding: 5px; */

.inputWrapper {
  display: flex;
  position: relative;
}

.input {
  height: var(--inputHeight);
  position: relative;
  padding-top: 7%;
  /* padding-left: $padding; */
  border: 2px solid var(--darkBlack);
  border-radius: 3px;

  /* // TODO: Clean Up */
  /* &:focus ~ label, */
  /* &:not(:placeholder-shown) ~ label { */
  /* transform: scale(0.9) translate(-5%, -45%); */
}

/* &.error { */
/* border-color: var(--errorColor); */
/* } */
/* } */

.label {
  /* @include use-smallest-font-size; */
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  height: calc(var(--inputHeight) / 2);
  position: absolute;
  top: 20%;
  /* left: $padding; */
  transition: transform 100ms;
}
