.inputWrapper {
  display: flex;
  position: relative;
  width: var(--s8);
  height: var(--inputHeight);
  margin-top: var(--s1);
}

.inputWrapper > input {
  height: var(--inputHeight);
  position: relative;
  border: 2px solid var(--darkBlack);
  border-radius: 3px;
  font-size: var(--regularFontSize);
}

.inputWrapper > label {
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  align-self: center;
  height: calc(var(--inputHeight));
  top: 20%;
  transition: transform 100ms;
}
