.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--s5) var(--s1) 0;
}

.wrapper .content {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  width: min(100%, 900px);
  padding-top: var(--s3);
  margin-bottom: var(--s5);
  box-shadow: 2px 2px 12px -3px var(--darkBlack);
}

.wrapper .content > h1 {
  margin-bottom: var(--s1);
}

.wrapper .content > form {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
  width: 300px;
  margin-bottom: var(--s1);
}

.wrapper .content > form > .loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h4FontSize);
  width: 100%;
}

.wrapper .content > h3 {
  margin-top: var(--s2);
  margin-bottom: var(--s1);
}

.wrapper .content > .error {
  color: var(--errorColor);
  font-size: var(--h4FontSize);
}

.wrapper .content > .link {
  color: var(--primaryColor);
}
