.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--s1);

  background-color: lavender;
  border-right: 1px solid var(--borderColor);
  padding: var(--s5);
}

.headerWrapper .signOut {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 8%;
}
