.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: var(--s1);
  padding: var(--s2);
  border-bottom: 2px solid var(--mediumGray);
}

.headerWrapper > .signOut {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: var(--s6);
  height: var(--s3);
  cursor: pointer;
  font-size: var(--regularFontSize);
  margin-bottom: var(--s0);
}

.headerWrapper > .newButton {
  width: var(--s4);
}
