.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--s2);
  padding: 0 var(--s2);
  box-shadow: 0 0 8px 0 var(--darkBlack);
  height: var(--headerHeight);
}

.headerWrapper > header {
  display: flex;
  align-items: center;
  gap: var(--s1);
}

.headerWrapper > header:nth-of-type(1) {
  flex: 2;
}

.headerWrapper > header:nth-of-type(2) {
  flex: 1;
  justify-content: flex-end;
}

.headerWrapper .search {
  flex: 1;
}

.headerWrapper .search input {
  border-radius: var(--standardBorderRadius);
}

.headerWrapper .newButton > img {
  width: var(--s3);
}

.headerWrapper .newButton {
  display: flex;
}
