.noteEditorWrapper {
  display: flex;
  flex-direction: column;
  width: var(--modalWidth);
  height: 100%;
  padding: var(--s2) var(--s0);
  border-radius: var(--standardBorderRadius);
  background-color: var(--white);
}

.noteEditorWrapper > form {
  display: flex;
  flex-direction: column;
  gap: var(--s0);
}

.noteEditorWrapper > form input,
.noteEditorWrapper > form textarea {
  background-color: var(--white);
  outline: none;
}

.noteEditorWrapper > form input {
  font-size: var(--h3FontSize);
}

.noteEditorWrapper > form textarea {
  resize: none;
}

.noteEditorWrapper > form button,
.noteEditorWrapper > form small {
  margin-left: auto;
}

.noteEditorWrapper > form small {
  height: var(--s1);
  margin-right: var(--s2);
}

.noteEditorWrapper > form .controls {
  display: flex;
  padding-left: var(--s0);
}

.noteEditorWrapper > form .controls .left {
  display: flex;
  gap: var(--s2);
}

.noteEditorWrapper > form .controls .left button {
  padding: 0;
  border-radius: 100%;
}

.noteEditorWrapper > form .controls .left button:not(:disabled):hover {
  background-color: var(--lightGray) !important; /* competing with the style prop */
}

.noteEditorWrapper > form .controls .left img {
  width: 50px;
  padding: 10px;
}

.noteEditorWrapper > form .controls .saveButton {
  font-size: var(--h5FontSize);
}
