.notesListWrapper {
  flex: 1;
  margin-right: var(--s2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: 1rem;
}

.note {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--mediumGray);
  border-radius: var(--standardBorderRadius);
  padding: var(--s1);

  opacity: 1;
  transition: opacity var(--modalTransitionTime);
}

.note.hidden {
  opacity: 0;
}

@media (min-width: 700px) {
  .notesListWrapper .newButton {
    visibility: hidden;
  }
}
@media (max-width: 700px) {
  .notesListWrapper .newButton {
    visibility: visible;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 40px;
  }
}
