@use "sass:math";
@import "styles/variables";

// ---- Styling -------------------------------------------------------------------------------------------------------
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// --------------------------------------------------------------------------------------------------------------------

// ---- Sizing --------------------------------------------------------------------------------------------------------
@mixin main-page-width {
  max-width: var(--appWrapperMaxWidth);
  width: var(--appWrapperMaxPercentage);
}
// --------------------------------------------------------------------------------------------------------------------

// ---- Typography ----------------------------------------------------------------------------------------------------
@mixin use-h1-font-size {
  font-size: var(--h1FontSize);
  line-height: 140%;

  @media (max-width: $tablet) {
    font-size: var(--h2FontSize);
    line-height: 135%;
  }
}

@mixin use-h2-font-size {
  font-size: var(--h2FontSize);
  line-height: 135%;

  @media (max-width: $tablet) {
    font-size: var(--h3FontSize);
    line-height: 130%;
  }
}

@mixin use-h3-font-size {
  font-size: var(--h3FontSize);
  line-height: 130%;

  @media (max-width: $tablet) {
    font-size: var(--h4FontSize);
    line-height: 130%;
  }
}

@mixin use-h4-font-size {
  font-size: var(--h4FontSize);
  line-height: 130%;

  @media (max-width: $tablet) {
    font-size: var(--regularFontSize);
    line-height: 120%;
  }
}

@mixin use-regular-font-size {
  font-size: var(--regularFontSize);
  line-height: 120%;

  @media (max-width: $tablet) {
    font-size: var(--smallFontSize);
    line-height: 100%;
  }
}

@mixin use-small-font-size {
  font-size: var(--smallFontSize);
  line-height: 100%;

  @media (max-width: $tablet) {
    font-size: var(--smallestFontSize);
    line-height: 100%;
  }
}

@mixin use-smallest-font-size {
  font-size: var(--smallestFontSize);
  line-height: 100%;
}

@mixin small-tag {
  @include use-small-font-size;
  color: var(--darkGray);
  font-family: var(--mainFontFamily);
  font-weight: var(--bold);
  text-transform: uppercase;
  line-height: 171%;
  letter-spacing: 0.16em;
}
// --------------------------------------------------------------------------------------------------------------------
