:root {
  /* Z-Index ----------------------*/
  --headerIndex: 50;
  --modalIndex: 300;
  /* ------------------------------*/

  /* Colors -----------------------*/
  --purple: #4800ff;
  --purpleTransparent: #4800ff50;
  --red: #d90033;

  --modalOverlayColor: #1111134d;

  --darkBlack: #111113;
  --lightBlack: #414141;
  --darkGray: #8a8a8c;
  --mediumGray: #d7d7d7;
  --lightGray: #e5e5e5;
  --white: #fff;
  /* ------------------------------*/
  --primaryColor: var(--purple);
  --primaryColorTransparent: var(--purpleTransparent);
  --secondaryColor: var(--darkBlack);
  --errorColor: var(--red);
  /* ------------------------------*/

  /* Sizing -----------------------*/
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));

  /* // TODO: Do something with this */
  --appWrapperMaxWidth: 1360px;
  --appWrapperMaxPercentage: 95%;

  --headerHeight: 64px;
  --inputHeight: var(--s3);
  --labelHeight: 20px;
  --inputLeftPadding: 9px;
  --buttonHeight: var(--s3);
  --horizontalButtonPadding: var(--s2);
  --buttonBorderRadius: 5px;

  --scrollBarWidth: 5px;

  --modalWidth: 600px;
  /* ------------------------------*/

  /* Typography -------------------*/
  --mainFontFamily: Helvetica, Arial, sans-serif;
  --h1FontSize: 3rem;
  --h2FontSize: 2.7rem;
  --h3FontSize: 2.5rem;
  --h4FontSize: 2.3rem;
  --h5FontSize: 2rem;
  --regularFontSize: 1.6rem;
  --smallFontSize: calc(var(--regularFontSize) - 1px);
  --smallestFontSize: calc(var(--regularFontSize) - 3px);
  --lightWeight: 400;
  --regularWeight: 500;
  --bold: 800;
  /* ------------------------------*/

  /* Animation --------------------*/
  --standardTransitionTime: 250ms;
  --modalTransitionTime: 200ms;
  /* ------------------------------*/
}
