:root {
  /* Z-Index ----------------------*/
  --headerIndex: 50;
  --modalIndex: 300;
  /* ------------------------------*/

  /* Colors -----------------------*/
  --purple: #4800ff;
  --purpleTransparent: #4800ff50;
  --red: #d90033;

  --modalOverlayColor: #1111134d;

  --darkBlack: #111113;
  --lightBlack: #414141;
  --darkGray: #8a8a8c;
  --mediumGray: #d7d7d7;
  --lightGray: #e5e5e5;
  --white: #fff;
  /* ------------------------------*/
  --primaryColor: var(--purple);
  --primaryColorTransparent: var(--purpleTransparent);
  --secondaryColor: var(--darkBlack);
  --errorColor: var(--red);
  /* ------------------------------*/

  /* Sizing -----------------------*/
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));

  /* // TODO: Do something with this */
  --appWrapperMaxWidth: 1360px;
  --appWrapperMaxPercentage: 95%;

  --headerHeight: 64px;
  --inputHeight: var(--s4);
  --labelHeight: 20px;
  --inputLeftPadding: 9px;
  --buttonHeight: var(--s4);
  --horizontalButtonPadding: var(--s2);
  --standardBorderRadius: 5px;

  --scrollBarWidth: 5px;

  --modalWidth: 600px;
  /* ------------------------------*/

  /* Typography -------------------*/
  --mainFontFamily: Helvetica, Arial, sans-serif;
  --h1FontSize: 3rem;
  --h2FontSize: 2.7rem;
  --h3FontSize: 2.5rem;
  --h4FontSize: 2.3rem;
  --h5FontSize: 2rem;
  --regularFontSize: 1.6rem;
  --smallFontSize: calc(var(--regularFontSize) - 1px);
  --smallestFontSize: calc(var(--regularFontSize) - 3px);
  --lightWeight: 400;
  --regularWeight: 500;
  --bold: 800;
  /* ------------------------------*/

  /* Animation --------------------*/
  --standardTransitionTime: 250ms;
  --modalTransitionTime: 200ms;
  /* ------------------------------*/

  /* React Toastify ---------------*/
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: var(--primaryColor);
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: var(--errorColor);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: var(--white);
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: var(--darkBlack);

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided */
  /* toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  /* Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  /* ------------------------------*/
}
