@import "styles/custom-properties";
@import "styles/reset";
@import "styles/typography";
@import "styles/config";

body {
  background-color: var(--mediumGray);

  ::selection {
    background-color: var(--primaryColor);
    color: var(--darkBlack);
  }

  // * {
  //   border: 1px solid red;
  // }

  * {
    &:focus {
      outline: 2px solid var(--darkGray);
    }

    // Scrollbar ----------------------------------------------------------------
    // For Chrome, Edge, Safari
    // sass-lint:disable no-vendor-prefixes
    &::-webkit-scrollbar {
      width: var(--scrollBarWidth);
      height: var(--scrollBarWidth);
    }

    // sass-lint:disable no-vendor-prefixes
    &::-webkit-scrollbar-thumb {
      background: var(--darkBlack);
    }

    // sass-lint:disable no-vendor-prefixes
    &::-webkit-scrollbar-track {
      background: var(--mediumGray);
    }

    & {
      // For FireFox
      // sass-lint:disable no-misspelled-properties
      scrollbar-color: var(--darkBlack);
      scrollbar-face-color: var(--darkBlack);

      // For IE
      scrollbar-track-color: var(--mediumGray);
      scrollbar-width: var(--scrollBarWidth);
    }
  }
  // --------------------------------------------------------------------------
}
